<%= form_with(model: movie, id: "movie-form") do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div  class="form-group">
    <%= form.label :rating, style: "display: block" %>
    <%= form.text_field :rating %>
  </div>

  <div  class="form-group">
    <%= form.label :release_date, style: "display: block" %>
    <%= form.text_field :release_date %>
  </div>

  <div  class="form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, style: "height: 200px" %>
  </div>


  <div>
    <%= form.submit id: "update-movie" %>
  </div>
<% end %>
