<tr id="<%= dom_id movie %>">
  <td><%= movie.title %></td>
  <td><%= movie.rating %></td>
  <td><%= movie.release_date.strftime("%b %d, %Y") %></td>
  <td>
    <%= link_to "Show", movie, class: "show-movie" %>
  </td>
</tr>
